WebContent/wsdl/HolaMundo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.javapostsforlearning.arpit.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.javapostsforlearning.arpit.org" xmlns:intf="http://webservices.javapostsforlearning.arpit.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.javapostsforlearning.arpit.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHelloWorld">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloWorldResponse">
    <complexType>
     <sequence>
      <element name="sayHelloWorldReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloWorldRequest">

      <wsdl:part element="impl:sayHelloWorld" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldResponse">

      <wsdl:part element="impl:sayHelloWorldResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HolaMundo">

      <wsdl:operation name="sayHelloWorld">

         <wsdl:input message="impl:sayHelloWorldRequest" name="sayHelloWorldRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloWorldResponse" name="sayHelloWorldResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HolaMundoSoapBinding" type="impl:HolaMundo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHelloWorld">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HolaMundoService">

      <wsdl:port binding="impl:HolaMundoSoapBinding" name="HolaMundo">

         <wsdlsoap:address location="http://localhost:8080/PruebaSOA/services/HolaMundo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
